p.class-text {text-align: center;}
h3 {text-align: center;}
div.chercheur1 {margin-left: 100px; margin-right: px;}
div.chercheur2 {margin-left: -px; margin-right: px;}
div.chercheur3 {margin-left: px;}
div.chercheur4 {margin-right: -100px; margin-top: -50px; margin-left: -150px;}
div.chercheur5 {margin-left: -150px; margin-top: -50px; margin-right: -100px; }